In [1]:
import pandas as pd

In [2]:
df_v1 = pd.read_csv("/Users/christinadong/Documents/MLops/ml-feature-store-pipeline/data/feature_v1.csv")

In [4]:
df_v1.head(5)

,age,height,weight,gender,deadlift,candj,snatch,backsq,event_timestamp,athlete_id
0,30.0,71.0,200.0,1,385.0,235.0,175.0,315.0,2025-07-17 00:43:44.067165,0
1,28.0,70.0,176.0,1,335.0,187.0,134.0,254.0,2025-07-17 00:43:44.067165,1
2,35.0,68.0,225.0,1,440.0,285.0,205.0,405.0,2025-07-17 00:43:44.067165,2
3,36.0,71.0,199.0,1,485.0,267.0,212.0,390.0,2025-07-17 00:43:44.067165,3
4,36.0,64.0,155.0,1,415.0,245.0,180.0,385.0,2025-07-17 00:43:44.067165,4

In [6]:
df_v2 = df_v1.copy()

# Add new feature BMI
df_v2['BMI'] = df_v2['weight'] / (df_v2['height'] * 0.0254)**2  # assuming inches -> meters

# Add age group feature
df_v2['age_group'] = pd.cut(df_v2['age'], bins=[0, 20, 30, 40, 100], labels=[1, 2, 3, 4])

df_v2.to_csv('/Users/christinadong/Documents/MLops/ml-feature-store-pipeline/data/feature_v2.csv', index=False)

In [7]:
df_v2.head(5)

,age,height,weight,gender,deadlift,candj,snatch,backsq,event_timestamp,athlete_id,BMI,age_group
0,30.0,71.0,200.0,1,385.0,235.0,175.0,315.0,2025-07-17 00:43:44.067165,0,61.495858,2
1,28.0,70.0,176.0,1,335.0,187.0,134.0,254.0,2025-07-17 00:43:44.067165,1,55.673581,2
2,35.0,68.0,225.0,1,440.0,285.0,205.0,405.0,2025-07-17 00:43:44.067165,2,75.421864,3
3,36.0,71.0,199.0,1,485.0,267.0,212.0,390.0,2025-07-17 00:43:44.067165,3,61.188379,3
4,36.0,64.0,155.0,1,415.0,245.0,180.0,385.0,2025-07-17 00:43:44.067165,4,58.654902,3