In [1]:
import pandas as pd

In [2]:
df_cleaned = pd.read_csv("/Users/christinadong/Documents/MLops/ml-feature-store-pipeline/data/athletes_clean.csv")

In [3]:
df_cleaned.head(5)

,Unnamed: 0,region,gender,age,height,weight,candj,snatch,deadlift,backsq,eat,background,experience,schedule,howlong
0,21,Southern California,Male,30.0,71.0,200.0,235.0,175.0,385.0,315.0,I eat whatever is convenient|,I played youth or high school level sports|I p...,I began CrossFit by trying it alone (without a...,I do multiple workouts in a day 1x a week|I ty...,1-2 years|
1,22,Africa,Male,28.0,70.0,176.0,187.0,134.0,335.0,254.0,I eat 1-3 full cheat meals per week|,I have no athletic background besides CrossFit|,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 1x a week|,2-4 years|
2,27,North East,Male,35.0,68.0,225.0,285.0,205.0,440.0,405.0,I eat quality foods but don't measure the amount|,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I typically rest 4 or more days per month|,2-4 years|
3,50,North Central,Male,36.0,71.0,199.0,267.0,212.0,485.0,390.0,I eat quality foods but don't measure the amount|,I played youth or high school level sports|I p...,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 3+ times a wee...,1-2 years|
4,60,North East,Male,36.0,64.0,155.0,245.0,180.0,415.0,385.0,I eat strict Paleo|,I played youth or high school level sports|I p...,I began CrossFit by trying it alone (without a...,I do multiple workouts in a day 2x a week|I st...,4+ years|

In [7]:
# Feature Version 1
df_v1 = df_cleaned[['age', 'height', 'weight', 'gender', 'deadlift', 'candj', 'snatch', 'backsq']].copy()

# Convert gender to binary
df_v1['gender'] = df_v1['gender'].map({'Male': 1, 'Female': 0})

# Add required Feast timestamp column
import datetime
df_v1['event_timestamp'] = datetime.datetime.utcnow()

# Add dummy ID for Feast joining (required even if not in original)
df_v1 = df_v1.reset_index(drop=True)
df_v1['athlete_id'] = df_v1.index.astype(str)

# Save
df_v1.to_csv('data/feature_v1.csv', index=False)

/var/folders/wn/xn55n3vd25z62w3tbkvhcn780000gn/T/ipykernel_8525/2722964572.py:9: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  df_v1['event_timestamp'] = datetime.datetime.utcnow()

In [8]:
df_v1.head(5)

,age,height,weight,gender,deadlift,candj,snatch,backsq,event_timestamp,athlete_id
0,30.0,71.0,200.0,1,385.0,235.0,175.0,315.0,2025-07-17 00:43:44.067165,0
1,28.0,70.0,176.0,1,335.0,187.0,134.0,254.0,2025-07-17 00:43:44.067165,1
2,35.0,68.0,225.0,1,440.0,285.0,205.0,405.0,2025-07-17 00:43:44.067165,2
3,36.0,71.0,199.0,1,485.0,267.0,212.0,390.0,2025-07-17 00:43:44.067165,3
4,36.0,64.0,155.0,1,415.0,245.0,180.0,385.0,2025-07-17 00:43:44.067165,4